<div class="testimonials">
    <div class="container">
        <div class="img_wrap">
          <div class="user_bg">
            <img src="../../assets/images/user-photo.png" alt="">
          </div>
        </div>
        <div class="content_wrap">
          <div class="testimonials_content">
            <h2>Template is awesome</h2>
            <p class="mt-45">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
            <div class="test_names">
              <span>Jhon Doe</span><br>
              <span class="blur">CEO at CRIOS</span>
            </div>
          </div>
        </div>
    </div>
  </div>