
<!-- <button routerLink="/header">Header</button>
<button routerLink="/slider">Slider</button>
<button routerLink="/services">Services</button>
<button routerLink="/content">Content</button>
<button routerLink="/productdesc">Product Description</button>
<button routerLink="/nextproductdesc">Next Product Description</button>
<button routerLink="/testimonials">Testimonials</button>
<button routerLink="/subscribe">Subscribe</button>
<button routerLink="/footer">Footer</button>
<button routerLink="">Home</button> -->


<!-- <app-header></app-header>
<app-slider></app-slider> -->


<router-outlet></router-outlet>


