<div class="product_wrap">
    <div class="">
        <div class="img_wrap">
          <img src="../../assets/images/ic1.png" alt="">
        </div>
        <div class="content_wrap">
            <div class="about-desc">
              <h2>Lorem Ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
            </div>
        </div>
    </div>
    <div class="">
      <div class="content_wrap">
          <div class="about-desc">
            <h2>Lorem Ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
          </div>
      </div>
      <div class="img_wrap">
        <img src="../../assets/images/ic2.png" alt="">
      </div>
    </div>
  </div>
  
<div class="product-desc">
    <div class="container">
      <div class="center-wrap">
        <div>
          <img src="../../assets/images/app1.png" alt="">
        </div>
        <div class="para">
          <h2>Lorem ipsum dolor</h2>
          <p class="mt-45">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
        </div>
      </div>
      <div class="center-wrap">
        <div class="para">
          <h2>Lorem ipsum dolor</h2>
          <p class="mt-45">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
        </div>
        <div>
          <img src="../../assets/images/app1.png" alt="">
        </div>
      </div>
    </div>
  </div>