<div class="services_wrap">
  <div class="container">
    <div class="text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <h1>Lorem ipsum dolor sit amet</h1>
    </div>
    <div class="wrap mt-90">
      <div class="card">
        <div>
          <img src="../../assets/images/c1.png" alt="">
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="../../assets/images/c2.png" alt="">
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="../../assets/images/c3.png" alt="">
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="../../assets/images/c4.png" alt="">
        </div>
        <div>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
        </div>
      </div>
    </div>
    <div class="wrap mt-45">
      <div class="">
        <a href="#" class="btn">CHECK OUR OFFER</a>
      </div>
    </div>
  </div>
</div>